In [30]:
import os
import sys
PATH = os.getcwd()
DIR_DATA = PATH + '{0}data{0}'.format(os.sep)
sys.path.append(PATH) if PATH not in list(sys.path) else None
DIR_DATA

'C:\\Users\\owent\\OneDrive\\Escritorio\\Parcial IA\\data\\'

In [31]:
import numpy as np # linear algebra
import pandas as pd # data processing
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import missingno as msno
from collections import Counter
from imblearn.over_sampling import RandomOverSampler
from sklearn.model_selection import train_test_split, cross_val_score, ShuffleSplit
from sklearn.metrics import classification_report

# ML
from sklearn.model_selection import RandomizedSearchCV,RepeatedStratifiedKFold, train_test_split
from sklearn.metrics import f1_score, accuracy_score, precision_score, confusion_matrix
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn import tree

# File name
filename = DIR_DATA + 'datos_ordenados.csv'

# Información de atributos:

**age** - edad en años

**sex** - sexo do paciente
    
    0: mujer
 
    1: hombre
    
**cp** - tipo dolor torácica
    
    1: angina típica
    
    2: angina atípica
    
    3: dolor no cardiaco
    
    4: asintomático
    
**trestbps** - presión arterial en reposo

**chol** - colesterol sérico (mg/dl)

**fbs** - azúcar en sangre en ayunas > 120 mg/dl

    0: False
    
    1: True

**restecg** - resultado del electrocardiograma en reposo

    0: normales
    
    1: anomalías ST-T (inversión de la onda T y aumento o disminución de > 0,05 mV )
    
    2: hipertrofia ventricular izquierda probable o definitiva (según criterios de Romhilt-Estes)
    
**thalach** - frecuencia cardíaca máxima alcanzada

**exang** - angina inducida por el ejercicio

    0: no
    
    1: prueba

**oldpeak** - Descenso del segmento ST inducido por el ejercicio en relación con el reposo

**slope** - Pendiente del segmento ST en el ejercicio máximo

**ca** - número de vasos principais colorido por fluoroscopia

**thal** - prueba de esfuerzo con talio
    
    3: normales
    
    6: defecto fijo
    
    7: defecto reversible

**num** - diagnóstico de enfermedades del corazón (diagnóstico angiográfico)
    0: sin enfermedad cardiaca (< 50% de estrechamiento del diámetro)
    1,2,3,4: hay enfermedad cardíaca (> 50% de estrechamiento del diámetro)

# Lectura y analisis de datos:

In [32]:
df = pd.read_csv(filename)

In [33]:
df.head()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk,name
0,3001,0,65,1,1,1,1,-9,4,115,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,75.0,-9.0,name
1,3002,0,32,1,0,0,0,-9,1,95,...,1.0,1.0,1.0,1.0,1.0,5.0,1.0,63.0,-9.0,name
2,3003,0,61,1,1,1,1,-9,4,105,...,2.0,1.0,1.0,1.0,1.0,1.0,1.0,67.0,-9.0,name
3,3004,0,50,1,1,1,1,-9,4,145,...,1.0,1.0,1.0,1.0,1.0,5.0,4.0,36.0,-9.0,name
4,3005,0,57,1,1,1,1,-9,4,110,...,2.0,1.0,1.0,1.0,1.0,1.0,1.0,60.0,-9.0,name

In [34]:
df.describe()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,om2,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk
count,882.000000,882.0,882.000000,882.000000,882.000000,882.000000,882.000000,882.0,882.000000,882.000000,...,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000
mean,970.096372,0.0,53.461451,0.791383,-2.060091,-2.289116,-2.277778,-9.0,3.253968,122.560091,...,-5.263337,-1.531215,-1.944381,0.804767,0.817253,0.911464,1.374574,0.995460,3.928252,-6.991487
std,1211.969204,0.0,9.427734,0.406550,4.556346,4.419706,4.472763,0.0,0.927026,39.830334,...,4.868837,4.655812,4.703514,1.482634,1.516417,1.623371,2.293368,1.453046,25.692900,5.121209
min,1.000000,0.0,28.000000,0.000000,-9.000000,-9.000000,-9.000000,-9.0,1.000000,-9.000000,...,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,114.000000,0.0,47.000000,1.000000,-9.000000,-9.000000,-9.000000,-9.0,3.000000,120.000000,...,-9.000000,-9.000000,-9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-9.000000,-9.000000
50%,257.500000,0.0,54.000000,1.000000,1.000000,0.000000,0.000000,-9.0,4.000000,130.000000,...,-9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-9.000000,-9.000000
75%,1211.750000,0.0,60.000000,1.000000,1.000000,1.000000,1.000000,-9.0,4.000000,140.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.710000,-9.000000
max,5002.000000,0.0,77.000000,1.000000,1.000000,1.000000,1.000000,-9.0,4.000000,200.000000,...,2.000000,2.000000,2.000000,7.000000,10.000000,8.000000,8.000000,5.000000,86.000000,11.300000

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 76 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         882 non-null    int64
 1   ccf        882 non-null    int64
 2   age        882 non-null    int64
 3   sex        882 non-null    int64
 4   painloc    882 non-null    int64
 5   painexer   882 non-null    int64
 6   relrest    882 non-null    int64
 7   pncaden    882 non-null    int64
 8   cp         882 non-null    int64
 9   trestbps   882 non-null    int64
 10  htn        882 non-null    int64
 11  chol       882 non-null    int64
 12  smoke      882 non-null    int64
 13  cigs       882 non-null    int64
 14  years      882 non-null    int64
 15  fbs        882 non-null    int64
 16  dm         882 non-null    int64
 17  famhist    882 non-null    int64
 18  restecg    882 non-null    int64
 19  ekgmo      882 non-null    int64
 20  ekgday     882 non-null    int64
 21  ekgyr      882 non-null    int64
 22  dig        882 non-null    int64
 23  prop       882 non-null    int64
 24  nitr       882 non-null    int64
 25  pro        882 non-null    int64
 26  diurectic  882 non-null    int64
 27  proto      882 non-null    int64
 28  thaldur    882 non-null    float64
 29  thaltime   882 non-null    float64
 30  met        882 non-null    float64
 31  thalach    882 non-null    int64
 32  thalrest   882 non-null    int64
 33  tpeakbps   882 non-null    int64
 34  tpeakbpd   882 non-null    int64
 35  dummy      882 non-null    int64
 36  trestbpd   882 non-null    int64
 37  exang      882 non-null    int64
 38  xhypo      882 non-null    int64
 39  oldpeak    882 non-null    float64
 40  slope      882 non-null    int64
 41  rldv5      882 non-null    int64
 42  rldv5e     882 non-null    int64
 43  ca         882 non-null    int64
 44  restckm    882 non-null    int64
 45  exerckm    882 non-null    int64
 46  restef     882 non-null    float64
 47  restwm     882 non-null    int64
 48  exeref     882 non-null    float64
 49  exerwm     882 non-null    int64
 50  thal       882 non-null    int64
 51  thalsev    882 non-null    int64
 52  thalpul    882 non-null    int64
 53  earlobe    882 non-null    int64
 54  cmo        882 non-null    int64
 55  cday       881 non-null    float64
 56  cyr        881 non-null    float64
 57  lmt        881 non-null    float64
 58  num        881 non-null    float64
 59  ladprox    881 non-null    float64
 60  laddis     881 non-null    float64
 61  diag       881 non-null    float64
 62  cxmain     881 non-null    float64
 63  ramus      881 non-null    float64
 64  om1        881 non-null    float64
 65  om2        881 non-null    float64
 66  rcaprox    881 non-null    float64
 67  rcadist    881 non-null    float64
 68  lvx1       881 non-null    float64
 69  lvx2       881 non-null    float64
 70  lvx3       881 non-null    float64
 71  lvx4       881 non-null    float64
 72  lvf        881 non-null    float64
 73  cathef     881 non-null    float64
 74  junk       881 non-null    float64
 75  name       881 non-null    object
dtypes: float64(26), int64(49), object(1)
memory usage: 523.8+ KB

In [36]:
d = pd.DataFrame(df["sex"].value_counts())

In [ ]:
#fig = px.pie(d, values='sex', names=["mujer", "hombre"], hole=0.4, opacity=0.8,
 #            labels={"label":"sex","sex":"Number of Samples"})
#fig.update_layout(title=dict(text="Pie Chart of sex Feature"))
#fig.update_traces(textposition="outside", textinfo="percent+label")
#fig.show()
#Error espectacular

In [38]:
df['name'] = pd.to_numeric(df['name'], errors='coerce')

In [ ]:
sns.clustermap(df.corr(), cmap = "vlag", dendrogram_ratio = (0.1, 0.2), annot = True, linewidths = .8, figsize = (9,10))
plt.show()